* {
    margin: 0;
    padding: 0;
}

body,
html,
main,
.container {
    height: 100%;
}

.search {
    float: left;
    height: 100vh;
    background: #333;
}

.search-title {
    color: #fff;
    line-height: 50px;
    text-align: center;
}

.search-input,
.search-submit {
    height: 26px;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

.search-input {
    width: 66%;
    margin-left: 8px;
    padding-left: 6px;
}

.search-input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6) inset;
}

.search-submit {
    width: 20%;
    background: #31a0e0;
}

.search-list {
    margin: 14px 8px 0;
}

.search-list > li {
    list-style: none;
    color: #ddd;
    padding-left: 6px;
    cursor: default;
}

.search-list > li:hover {
    color: #333;
    background: #ddd;
}

.logo {
    height: 50px;
    background: #333;
}

.logo-img {
    position: relative;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

#map {
    height: calc(100% - 50px);
}

@media screen and (max-width: 767px) {
    .search {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .search {
        width: 200px;
    }

    .search-title {
        font-size: 20px;
    }

    .search-list > li {
        font-size: 14px;
    }
}

@media screen and (min-width: 993px) {
    .search {
        width: 300px;
    }

    .search-title {
        font-size: 26px;
    }

    .search-list > li {
        font-size: 18px;
    }
}

