* {
    margin: 0;
    padding: 0;
}

.search {
    float: left;
    width: 20%;
    height: 100vh;
    background: #333;
}

.search-title {
    margin-bottom: 4px;
    font: 160%/220% "sans-serif";
    color: #fff;
    text-align: center;
}

.search-input,
.search-submit {
    height: 26px;
    border: 0;
    outline: 0;
    border-radius: 2px;
}

.search-input {
    width: 66%;
    margin-left: 3%;
    padding-left: 4%;
}

.search-input:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, .6) inset;
}

.search-submit {
    width: 20%;
    background: #31a0e0;
}

.search-list {
    margin: 6% 5% 0 3%;
}

.search-list > li {
    list-style: none;
    font: 100%/160% 'sans-serif';
    color: #ddd;
    padding-left: 4%;
    cursor: default;
}

.search-list > li:hover {
    color: #333;
    background: #ddd;
}

.logo {
    height: 50px;
    background: #333;
}

.logo-img {
    position: relative;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}